<p id="notice"><%= notice %></p>

<p>
  <strong>Subject1:</strong>
  <%= @mark.subject1 %>
</p>

<p>
  <strong>Subject2:</strong>
  <%= @mark.subject2 %>
</p>

<p>
  <strong>Subject3:</strong>
  <%= @mark.subject3 %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path  %>
