<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @student.phonenumber %>
</p>
<td><%= link_to 'Add marks', new_mark_path(student_id: @student.id) %></td>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
